
.hero{
    max-width: 480px;
    height: 400px;
    background-color: #2F303A;
    background-image: linear-gradient(to right, var(--bghero), var(--bghero)), url(../images/background-mobile-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 480px;
  
    text-align: center;
    padding-top: 118px;
    padding-bottom: 200px;
    margin: 0 auto;

    &__titel{
    @include font(26px, 900, 1.16);  

    color: #FFFFFF;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    padding-bottom: 30px;
}
}

@media screen and (min-width: 1200px) {
    .hero{
        max-width: 1600px;
        height: 600px;
        background-color: #2F303A;
        background-image: linear-gradient(to right, var(--bghero), var(--bghero)), url(../images/background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1600px;
      
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
        margin: 0 auto;
    
        &__titel{
        @include font(44px, 900, 1.36);  
    
        color: #FFFFFF;
        letter-spacing: 0.06em;
        text-transform: uppercase; 
        padding-bottom: 30px;
    }
    }
 }   
