.h2-titel,
.team-titel{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;  
    text-transform: none; 
}
.nopadding-section{
    padding-top: 0;
}
